<div class="py-5 mt-5" id="footer-04">
    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <p class="lead mb-4 mr-3 text-secondary">iD-Tech is created by Akuang Saechao, Nicholas Lacroix, and Tipper Truong. We've built this application  for users to play around with deep learning frameworks for real-time object detection</p>
        </div>
        <div class="col-lg-4 col-md-6 ml-auto">
          <ul class="text-secondary list-unstyled mb-3">
            <li class="mb-3">
                <p class="text-secondary my-0"></p>Contact
            </li>
            <li>
                akuangsaechao@gmail.com
            </li>
            <li>
                tqtruong95@gmail.com
            </li>
            <li>
                nicklacroix.08lhs@gmail.com
            </li>                                        
          </ul>
        </div>
      </div>
      <div class="row">
          <div class="col">
              <hr class="mb-4">
          </div>
      </div>
      <div class="row">
          <div class="col">
              <span class="text-secondary">CS 161 - Spring 2018</span>
          </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</body>

</html>
