{% include 'header.html' %}

{% block title %}iD-Tech{% endblock %}

{% block content %}
 <!-- Page Content -->
<div class="py-5" style="background: #f4f4f4; height: 100vh">
  <div class="container-fluid my-5">
    <div class="container">

      <h1 class="my-4 text-center text-lg-left"></h1>

      <div class="row text-center text-lg-left">
        {% for image in images %}
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="{{url_for('get_prediction', filename=image)}}" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="{{url_for('get_image', filename=image)}}" http://placehold.it/400x300" alt="{{image}}" title={{image}}>
          </a>
        </div>

        {% endfor %}

      </div>

      <!--<div id="loading"></div>-->
    </div>

    </div>
</div>
    <!-- /.container -->
  {% endblock %}

{% include "footer.html" %}