{% extends "base.html" %}

{% block title %}iD-Tech{% endblock %}

{% block content %}
<div class="bg-secondary text-white text-center" id="hero-06" style="background: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)),url('../static/profile/Background.png') center center; background-size: cover;">
  <div class="container d-flex flex-column" style="min-height: 105vh;">
    <div class="row mt-auto">
      <div class="col-lg-8 col-md-8 col-sm-12 text-center mx-auto">
        <h1 class="display-3 mb-3 font-weight-normal">iD-Tech</h1>
      </div>
    </div>
    <div class="row mb-auto">
      <div class="col-lg-9 col-md-8 col-sm-12 mx-auto text-center">
        <p><h2>A Simple Deep Learning Web Application</h2></p>
        <div class="col-lg-3 col-md-4 col-sm-5 mx-auto text-center">
          <button class="btn btn-warning w-100 btn-lg border-0 rounded-0" type="submit">Get Started</button>
        </div>
        <p></p>
      </div>
    </div>
  </div>
</div>
<div class="py-5" id="features-06">
  <div class="container py-5 text-center">
    <div class="row mt-auto">
      <div class="col-lg-8 col-md-8 col-sm-12 text-center mx-auto">
        <h1 class="display-3 mb-3 font-weight-normal">Technologies</h1>
      </div>
    </div>
    <div class="row py-5">
      <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
        <img class="mb-4" src="../static/profile/Python.png" height="150px">
        <h2 class="h5 mb-2">Python</h2>
        <p class="text-secondary px-5 lead">Primary all purpose high-level programming language used.</p>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
        <img class="mb-4" src="../static/profile/Django.png" height="150px">
        <h2 class="h5 mb-2">Django</h2>
        <p class="text-secondary px-5 lead">Web framework using Python to develop quick and easy web applications.</p>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
        <img class="mb-4" src="../static/profile/Bootstrap.png" height="150px">
        <h2 class="h5 mb-2">Bootstrap</h2>
        <p class="text-secondary px-5 lead">Toolkit framework for designing building responsive web apps.</p>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
        <img class="mb-4" src="../static/profile/DeepDetect.png" height="100px" width="225px">
        <h2 class="h5 mb-2">DeepDetect</h2>
        <p class="text-secondary px-5 lead">Deep Learning server with REST API calls used for object detection.</p>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
        <img class="mb-4" src="../static/profile/DarkNetYolo.png" height="100px">
        <h2 class="h5 mb-2">DarkNet Yolo</h2>
        <p class="text-secondary px-5 lead">Real-time object detection system used for video recognition.</p>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
        <img class="mb-4" src="../static/profile/MySQL.png" height="100px">
        <h2 class="h5 mb-2">MySQL</h2>
        <p class="text-secondary px-5 lead">Relational database management system used for storing data.</p>
      </div>
    </div>
  </div>
</div>
<div class="bg-light py-5" id="testimonials-4">
  <div class="container-fluid my-5">

    <div class="row mt-auto">
      <div class="col-lg-8 col-md-8 col-sm-12 text-center mx-auto">
        <h1 class="display-3 mb-3 font-weight-normal">Developers</h1>
      </div>
    </div>

    <div class="py-5" id="features-06">
      <div class="container py-5 text-center">
        <div class="row py-5">
          <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
            <img class="mb-4" src="../static/profile/Akuang.png" height="300px">
            <h2 class="h5 mb-2">Akuang Saechao</h2>
            <p class="text-secondary px-5 lead">Quodsi fuisset similique an pro. Pro reque semper pertinax cu, mei</p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
            <img class="mb-4" src="../static/profile/Tipper.png" height="300px">
            <h2 class="h5 mb-2">Tipper Truong</h2>
            <p class="text-secondary px-5 lead">Meis principes id ius. Ex agam salutatus repudiandae pro. Eu suavitate, mei erat</p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
            <img class="mb-4" src="../static/profile/Tipper.png" height="300px">
            <h2 class="h5 mb-2">Nicholas Lacroix</h2>
            <p class="text-secondary px-5 lead">Nec ad consul saperet eleifend, congue verear dissentiet sed te</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}