{% extends "base.html" %}

{% block title %}Upload image(s){% endblock %}

{% block content %}
<div class="container">
 <h1 class="my-4 text-center text-lg-left">Upload Images</h1>
<form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
<div class="block">
  <label class="button" for="images">Upload Images</label>
  <input type="file" name="files" id="images" multiple="multiple"/>
  <div id="multiple-file-preview">
    <ul id="sortable">
      <div class="clear-both"></div>
    </ul>
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</div>
</form>
</div>

{% endblock %}

